<div>
  <h1>Register</h1>
  <form action="/register" action="POST">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" />
    <input type="submit" />
  </form>
</div>
